-r requirements.txt
dbg
debug @ git+https://github.com/George-Ogden/dbg@v2.3.1
inline-snapshot
pre-commit
pytest-dbg @ git+https://github.com/George-Ogden/pytest-dbg@v2.3.1
pytest-snapshot
pytest-xdist
