-r requirements.txt
git+https://github.com/George-Ogden/extra-types; python_version >= "3.12"
git+https://github.com/George-Ogden/mirror-rorrim; python_version >= "3.12"
git+https://github.com/George-Ogden/pytest-dbg; python_version >= "3.11"
git+https://github.com/George-Ogden/utils; python_version >= "3.12"
inline-snapshot
prek
py-spy
pytest>=9.0.0
pytest-shard
pytest-timeout
pytest-xdist
ruff==0.15.11
