name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit_tests:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.1.3
    with:
      python-versions: "['3.13']"
      timeout-minutes: 10
      pytest-flags: -vv -n auto mypy_pytest_plugin -m "not serial"

  serial_unit_tests:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.1.3
    with:
      python-versions: "['3.13']"
      timeout-minutes: 10
      pytest-flags: -vv -n0 mypy_pytest_plugin -m "serial"

  integration_tests:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.1.3
    with:
      python-versions: "['3.13']"
      timeout-minutes: 5
      pytest-flags: -vv tests
