name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.1.3
    with:
      python-versions: "['3.13']"
      timeout-minutes: 15
      pytest-flags: -vv -n auto
