name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit_tests:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.1.3
    with:
      python-versions: "['3.13']"
      timeout-minutes: 30
      pytest-flags: -vv mypy_pytest_plugin -n auto

  integration_tests:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.1.3
    with:
      python-versions: "['3.13']"
      timeout-minutes: 5
      pytest-flags: -vv tests
